/* Coolors Exported Palette - coolors.co/856a5d-423e37-ca5310-edebd7-ffc000 */

/* RGB */
$color1: rgba(133, 106, 93, 1);
$text-primary: rgba(66, 62, 55, 1);
$text-secondary: #e96012;//rgba(202, 83, 16, 1);
$background-secondary: #f5f2e8;//rgba(237, 235, 215, 1);
$background-primary: #f7a900; //rgba(255, 192, 0, 1);

$link-color: #3496fa;

$notice-error: #ca5b4d;
