.beer-display {
  width: 100%;
  display: flex;
  padding: 15px;
  border: .5px solid #cccc;
  border-right: 0px;
  border-left: 0px;
  box-sizing: border-box;
  .label-container {
    img {
      width: 65px;
      height: 65px;
      background-color: #ccc;
    }
  }
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    h2, h3 {
      margin: 0px;
      text-decoration: none;
      line-height: 1em;
    }
    .label {
      display: inline-block;
      margin-right: 10px;
      .title {
        font-weight: bold;
      }
    }
  }
}
