
#device-landscape-mode {
  display: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-size: 2em;
  letter-spacing: .5px;
  color: #aaa;
  text-shadow: 1px 1px rgba(0,0,0,.4);
  .graphic {
    display: block;
    background-image: url("../images/phone-rotate.png");
    background-image: url("../images/phone-rotate.gif");
    background-size: cover;
    width: 200px;
    height: 200px;
    opacity: .7;

  }
}


@media screen and (orientation:landscape)
              and (max-device-width : 980px) {
  #root {
    visibility: hidden;
    position: absolute;
  }
  #device-landscape-mode {
    display: block!important;
    display: flex!important;
  }
}
