.menu-container {
  .button {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 1.2em;
    background-color: $background-secondary;
    z-index: 999991;
    box-sizing: border-box;
    text-align: center;
    border-radius: 100%;
  }
  .menu-button {
    bottom: 15px;
    right: 15px;
    i {
      transform: scale(1.8,1);
    }
  }

  .menu-items-container {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    z-index: 99999;
    .menu-overlay {
      position: absolute;
      display: block;
      bottom: 15px;
      right: 15px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: rgba(255,255,255,.9);
      transform: scale(0);
      animation: menu__blow-up .5s forwards;
    }
    .menu-items {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      ul {
        margin: 0px;
        padding: 0px;
        li {
          position: fixed;
          bottom: 15px;
          right: 15px;
          display: flex;
          opacity: 0;
          transform: translateX(-50%);
          animation: menu__slide-in .7s forwards;
          a {
            display: flex;
            text-decoration: none;
          }
          span {
            font-size: 1.5em;
            align-self: center;
            margin-right: 15px;
            text-transform: uppercase;
            font-weight: bold;
          }
          .button {
            position: relative;
            i {
              font-size: 2em;
            }
          }
          &:nth-child(1) {
            bottom: 15px;
            animation-delay: .3s;
          }
          &:nth-child(2) {
            bottom: 140px;
            animation-delay: .4s;
            .button {
              i {
                color: #3496fa;
              }
            }
          }
          &:nth-child(3) {
            bottom: 265px;
            animation-delay: .5s;
            .button {
              i {
                color: #ed4956;
              }
            }
          }
        }
      }
    }
  }

  &[ data-opened="false" ] {
    .menu-items-container {
      display: none;
    }
  }
  &[ data-opened="true" ] {
    .menu-button {
      display: none;
    }

  }
}

@media screen and (min-width: 970px) {
  .menu-container {
    .menu-button {
      display: none;
    }

    .menu-items-container {
      top: auto;
      bottom: 0;
      height: auto;
      min-height: auto;
      .menu-overlay {
        display: none;
      }
      .menu-items {
        position: relative;
        max-width: 200px;
        margin: auto;
        margin-bottom: 0px;
        ul {
          display: flex;
          justify-content: space-around;
          li {
            position: relative;
            width: 50%;
            left: 0;
            bottom: 0!important;
            transform: translateY(100px);
            animation: menu__slide-up .3s 5s forwards!important;
            a {
              flex-direction: column-reverse;
              margin: auto;
              .button {
                margin: auto;
                width: 50px;
                height: 50px;
                font-size: 14px;
              }
              span {
                text-align: center;
                font-size: 12px;
                margin-right: 0px;
                margin-top: 5px;
              }

            }
            &:nth-child(1) {
              display: none;
            }
          }
        }
      }
    }


    &[ data-opened="false" ] {
      .menu-items-container {
        display: block;
      }
    }
  }



}
