/*************
  Notices
**************/
.notice {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .5px;
  bottom: -100px;
  animation: .5s notice__slide-up forwards;
  &.error {
    background-color: $notice-error;
  }
}
