/*************
  Notices
**************/
.notice {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .5px;
  bottom: -100px;
  animation: .5s notice__slide-up forwards;
  &.error {
    background-color: $notice-error;
  }
  &.favorites {
    background: #000;
    opacity: .8;
    width: 200px;
    border-radius: 5px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    left: calc( 50% - 100px);
    box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
    animation: none;
    z-index: 9999;
    position: fixed;

    &.in {
      animation: .5s notice__slide-up forwards;
    }
    &.out {
      animation: .5s notice__slide-down forwards;
    }
  }
}

@media screen and (min-width: 970px) {
  .notice {
    &.favorites {
      left: calc( 25% - 100px);
    }
  }
}
