
// Help ToolTip
.question-help{
  display: inline;
  margin-left: 5px;
  position: relative;
  i {
    color: $link-color;
    font-size: 1.2em;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

/* Tooltip */
.tooltip {
  background-color: white;
  color: #333;
  letter-spacing: .5px;
  display: none;
  position: absolute;
  width: 320px;
  left: calc(-210px + 50%);
  border-radius: 5px;
  padding: 0px;
  z-index: 101;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, .4);
  &[data-visible="true"] {
    display: block;
    bottom: 2em;
  }
  .header {
    line-height: 40px;
    font-size: 1em;
    margin: 0px;
    background-color: lighten(#3496fa, 30%);
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .description {
    padding: 15px 10px;
    margin: 0px;
    font-weight: lighter;
    font-size: 1em;
  }
  &:after {
    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    content: "";
    display: block;
    margin: auto;
    width: 0px;
    position: absolute;
    left: 100px;
    right: 0;
    border-top-color: white;
    border-bottom-width: 0;
    bottom: -11px;
  }
}
