/* Coolors Exported Palette - coolors.co/856a5d-423e37-ca5310-edebd7-ffc000 */
/* RGB */
/*********************
  ANIMATIONS
*********************/
@keyframes beer-pour {
  from {
    height: 0vh; }
  to {
    height: 100vh; } }
@keyframes slide-up {
  from {
    top: 100vh; }
  to {
    top: 0vh; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0); } }
body {
  overflow: hidden; }

header {
  top: 100vh;
  animation: 2s 1s slide-up forwards; }

#liquid {
  background-color: #ffc822;
  position: absolute;
  border-radius: 0px 0px 50px 50px;
  top: 0;
  left: calc(50% - 25px);
  width: 50px;
  height: 0vh;
  z-index: -1;
  animation: 1s beer-pour forwards; }

#search-section {
  background-color: #ffc822;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  width: 100%;
  margin: 0px;
  align-self: flex-end;
  animation: 2s 1s beer-pour forwards; }
  #search-section #search {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: .5s 3s fade-in forwards; }
    #search-section #search .main-header h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5em; }
    #search-section #search form {
      display: flex;
      flex-direction: column;
      font-weight: bold; }
      #search-section #search form .selectize-control {
        margin-bottom: 20px; }
        #search-section #search form .selectize-control .selectize-input {
          line-height: 40px;
          box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.2); }
        #search-section #search form .selectize-control .selectize-dropdown,
        #search-section #search form .selectize-control .selectize-input,
        #search-section #search form .selectize-control .selectize-input input {
          text-transform: uppercase;
          font-size: 1em; }
      #search-section #search form label {
        text-align: center;
        display: block;
        margin: 20px auto 15px;
        font-size: 1em; }
      #search-section #search form .sliders {
        display: flex;
        flex-direction: column;
        margin-top: 20px; }
        #search-section #search form .sliders .slider .slider-container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          margin: 10px auto; }
          #search-section #search form .sliders .slider .slider-container span.before {
            margin-left: auto; }
          #search-section #search form .sliders .slider .slider-container span.after {
            margin-right: auto; }
          #search-section #search form .sliders .slider .slider-container .rangeslider {
            width: 75%;
            margin-left: 5px;
            margin-right: 5px;
            height: 15px;
            box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.4); }
            #search-section #search form .sliders .slider .slider-container .rangeslider .rangeslider__handle {
              width: 30px;
              height: 30px;
              top: -7px;
              box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3); }
          #search-section #search form .sliders .slider .slider-container#srm .rangeslider {
            background: -webkit-linear-gradient(left, #ffe699 0, #962d00 47%, #36080a 100%);
            background: linear-gradient(to right, #ffe699 0, #962d00 47%, #36080a 100%); }
            #search-section #search form .sliders .slider .slider-container#srm .rangeslider .rangeslider__value-bubble {
              background: #9B3200;
              color: transparent; }
          #search-section #search form .sliders .slider .slider-container#ibu .rangeslider {
            background: -webkit-linear-gradient(left, #fff 0, #909922 100%);
            background: linear-gradient(to right, #fff 0, #909922 100%); }
          #search-section #search form .sliders .slider .slider-container#abv .rangeslider {
            background: -webkit-linear-gradient(left, #e7e4c1 0, #d1bf51 100%);
            background: linear-gradient(to right, #e7e4c1 0, #d1bf51 100%); }
      #search-section #search form input[type="submit"] {
        color: #f4f4f4;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;
        border: 0px;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        background-color: #3496fa;
        margin: 20px auto 0px;
        box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.4); }

@media screen and (min-width: 780px) {
  #search-section #search {
    max-width: 1080px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%; }
    #search-section #search .main-header h1 {
      font-size: 2em; }
    #search-section #search form .selectize-control {
      width: 640px;
      margin-left: auto;
      margin-right: auto; }
    #search-section #search form .sliders {
      flex-direction: row;
      justify-content: space-between; }
      #search-section #search form .sliders .slider {
        flex: 1; }
        #search-section #search form .sliders .slider .slider-container .rangeslider {
          width: 50%;
          position: relative; } }
@media screen and (min-width: 980px) {
  #search-section #search {
    width: 100%;
    margin-left: none;
    margin-right: none; }
    #search-section #search form .sliders {
      justify-content: space-around; }
      #search-section #search form .sliders .slider .slider-container .rangeslider {
        width: 250px; } }
.rangeslider__value-bubble {
  border: 5px solid #fff;
  background-color: #fff;
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 15px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  border-radius: 5px;
  visibility: hidden;
  color: #444;
  z-index: 100;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3); }
  .rangeslider__value-bubble:before, .rangeslider__value-bubble:after {
    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    content: "";
    display: block;
    margin: auto;
    width: 0px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1; }
  .rangeslider__value-bubble:before {
    border-top-color: #ccc;
    border-bottom-width: 0;
    bottom: -16px; }
  .rangeslider__value-bubble:after {
    border-top-color: #fff;
    border-bottom-width: 0;
    bottom: -15px; }

/*# sourceMappingURL=search.css.map */
