/* Common */

html {
  font-family: 'Roboto', sans-serif;
  // display: flex;
  // flex-direction: row;
  font-size: 14px;
  color: $text-primary;
  // background-color: whitesmoke;
  // height: 100vh;
  a {
    color: #444;
  }

}

body {
  width: 100%;
  margin: 0px;
}

.main-container,
.loader {
  display: flex;
  width: 100%;
  margin: 0px;
  min-height: 100vh;
}

.loader {
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2em;
    animation: 1s expand infinite;
  }
}

h1 {
  font-size: 2em;
  color: $text-primary;
  text-transform: uppercase;
}

h2 {
  color: $text-secondary;
  font-size: 1.5em;
  margin: 10px 0px;
}
p {
  font-size: 1em;
}

a {
  color: $link-color;
}


@import '../Components/DeviceRotate';
@import '../Components/Notice';
