#favorites-section {
  width: 100%;
  margin: 0px;
  .no-favorites {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .heart-container {
      display: block;
      padding: 15px;
      border: 2px solid #666;
      border-radius: 100%;
      i {
        font-size: 3em;
        animation: 1.2s heart-beat infinite;
        color: #ed4956;
      }
    }

    h1 {
      padding: 0px 20px;
      text-align: center;
      color: #666;
    }
  }
  .favorites {
    display: block;
    position: relative;
    margin-top: 50px;
    h1 {
      padding: 15px;
      margin: 0px;
    }
    a {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 520px) {
  #favorites-section {


    .favorites {
      max-width: 970px;
      margin-left: auto;
      margin-right: auto;
      .favorites-list {
        margin: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
          font-size: .7em;
          line-height: 1.2em;
          width: 280px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin: 15px 0px;
        }
      }

    }
  }
}
