/* Results */

#results-section {
  width: 100%;
  margin: 0px;
  .title {
    font-size: 1em;
    font-weight: bold;
    color: $text-secondary;
    text-transform: uppercase;
  }
  #results {
    display: flex;
    flex-direction: column;
    width: 100%;
    .right-panel {
      background: linear-gradient(to bottom, #bc7012 0%, #efd002 100%);
      background-color: $background-primary;
      width: 100%;
      min-height: 100vh;
      align-self: baseline;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: fixed;
      .container {
        position: relative;
        .beer-label {
          width: 200px;
          height: 200px;
          // margin: 50px auto 20px;
          box-shadow: -2px 5px 10px rgba(0, 0, 0, .2);
          background-color: #fff;
        }

        .beer-info {
          background-color: $background-secondary;
          padding: 2px;
          margin: 20px;
          border-radius: 5px;
          box-shadow: 2px 5px 10px rgba(0,0,0,.3);

          a {
            text-decoration: none;
            font-weight: normal;

          }
          i {
            padding-left: 5px;
          }
          .item {
            margin: 0px;
            padding: 5px;
            box-sizing: border-box;
            display: block;
            font-size: 1.2em;
          }
          .right {
            padding-left: 10px;
          }
          .left {
            padding-right: 10px;
          }
          .inline {
            display: inline-block;
          }
          .beer-name {
            font-size: 1.5em;
            font-weight: bold;
          }
          .label {
            // margin: 10px 0px;
            // display: block;
            // font-weight: bold;
            .name {
              font-size: 1.5em;
            }
            .data {
              padding-left: 5px;
            }
          }

        }
        .see-more {
          position: relative;
          display: block;
          width: 100%;
          font-size: 1.2em;
          color: #fdfdfa;
          text-transform: uppercase;
          text-decoration: none;
          text-shadow: 1px 1px 3px rgba(0,0,0,.7);
          span {
            display: block;
            margin-bottom: 5px;
          }
          i {
            font-size: 2em;
            line-height: .5em;
            animation: 1s bounce infinite;
          }
        }
      }
    }

    .left-panel {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 1;
      width: 100%;
      min-height: 100vh;
      padding: 40px 20px;
      background-color: $background-secondary;
      margin-top: 100vh;
      z-index: 9999;
      box-shadow: 0px -5px 20px rgba(0,0,0,.2);
      .category {
        margin-top: 95px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
      }
      .description {
        font-size: 1.1em;
        text-align: justify;
        letter-spacing: .5px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .center-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .data {
          font-size: 1.1em;
        }
      }
      .additional-content {
        margin-bottom: 50px;
        display: flex;
        width: calc(100% - 20px);
        flex-direction: column;
        align-self: center;
        margin-top: 10px;
        .info-box {
          flex-flow: column;
          padding: 10px;
          margin-top: 10px;
          align-items: center;
          border-radius: 5px;
          background-color: #b8cc53;
          .title {
            color: #fff;
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 10px;
          }
          .icon,
          .data {

          }

          .icon {
            img {
              display: block;
              margin: auto;

            }
          }
          .data {
            display: flex;
            flex-direction: column;

            .title {
              flex: 0;
            }


          }
          &.glassware {
            .icon {
              img {
                width: 100px;
              }
            }
            .name {
              font-size: 2em;
              font-weight: bold;
              text-align: center;
            }
          }
          &.ingredients {
            .data {
              flex-direction: row;
            // justify-content: center;
              text-align: center;
              div {
                flex: 1;
              }
            }

            .name {
              font-size: 1.2em;
              font-weight: bold;
              text-transform: uppercase;
              text-decoration: underline;
              // text-align: center;
              color: #444;
            }
            .items {
              font-size: 1.1em;
            }
          }
          &.brewery {
            .icon {
              img {
                width: calc(100% - 20px);
              }
            }
            .data {
              a {

              }
            }
          }

        }
      }
    }

  }
}


.brewery {
  display: block;

  .summary {
    display: flex;

    img {
      height: 60px;
      // width: 60px;
      background-size: cover;
      margin-right: 10px;
    }
  }

  span, a {
    display: block;
    // line-height: 1.5em;
    text-align: left;
    padding-bottom: 5px;
  }
  a {
    color: $link-color;
  }

  .locations-container {
    position: relative;
    margin: 20px auto;

    .map-container {
      margin: 5px 0px;
      margin: 5px 0px;
      width: 100%;
      min-height: 250px;
      background: #ccc;
      box-sizing: border-box;
      overflow: hidden;
      .loading {
        line-height: 250px;
        font-size: 1em;
        color: #444;
        animation: 1s expand infinite;
        text-align: center;
      }
      & > div > div {
        position: relative!important;
      }

    }

    .location {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0px;
      }
      h4 {
        margin: 0px 0px 5px 0px;
        font-size: 1.5em;
      }
      span {
        line-height: 1em;
      }
    }
  }
}
