/* Results */

#results-section {
  background-color: $background-primary;
  width: 100%;
  margin: 0px;
  .title {
    font-size: 1em;
    font-weight: bold;
    color: $text-secondary;
    text-transform: uppercase;
  }
  #results {
    display: flex;
    flex-direction: column;
    width: 100%;
    .right-panel {
      width: 100%;
      height: 100vh;
      align-self: baseline;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .container {
        margin-bottom: 50px;
        .beer-label {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin: 50px auto 20px;
          box-shadow: -2px 5px 10px rgba(0, 0, 0, .2);
        }
        .beer-name {
          font-size: 1.5em;
          font-weight: bold;
        }
        .beer-info {
          font-size: 1.2em;
          .label {
            margin: 10px 0px;
            display: block;
            font-weight: bold;
            .name {
              font-size: 1.5em;
            }
            .data {
              padding-left: 5px;
            }
          }
        }
        .see-more {
          position: absolute;
          bottom: 10px;
          left: 0px;
          width: 100%;
          margin-top: 50px;
          font-size: 1.2em;
          color: #fdfdfa;
          text-transform: uppercase;
          text-decoration: none;
          span {
            display: block;
            margin-bottom: 5px;
          }
          i {
            font-size: 2em;
            line-height: .5em;
            animation: 1s bounce infinite;
          }
        }
      }
    }

    .left-panel {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 1;
      width: 100%;
      min-height: 100vh;
      padding: 60px 20px 20px 20px;
      background-color: $background-secondary;
      .category {
        margin-top: 95px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
      }
      .description {
        font-size: 1.1em;
        text-align: justify;
        letter-spacing: 1px;
      }
      .center-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .data {
          font-size: 1.1em;
        }
      }
      .additional-content {
        margin-bottom: 50px;
        display: flex;
        width: calc(100% - 20px);
        flex-direction: column;
        align-self: center;
        margin-top: 10px;
        .info-box {
          flex-flow: column;
          padding: 10px;
          margin-top: 10px;
          align-items: center;
          border-radius: 5px;
          background-color: #b8cc53;
          .title {
            color: #fff;
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 10px;
          }
          .icon,
          .data {

          }

          .icon {
            img {
              display: block;
              margin: auto;

            }
          }
          .data {
            display: flex;
            flex-direction: column;

            .title {
              flex: 0;
            }


          }
          &.glassware {
            .icon {
              img {
                width: 100px;
              }
            }
            .name {
              font-size: 2em;
              font-weight: bold;
              text-align: center;
            }
          }
          &.ingredients {
            .data {
              flex-direction: row;
            // justify-content: center;
              text-align: center;
              div {
                flex: 1;
              }
            }

            .name {
              font-size: 1.2em;
              font-weight: bold;
              text-transform: uppercase;
              text-decoration: underline;
              // text-align: center;
              color: #444;
            }
            .items {
              font-size: 1.1em;
            }
          }
          &.brewery {
            .icon {
              img {
                width: calc(100% - 20px);
              }
            }
            .data {
              a {

              }
            }
          }

        }
      }
    }

  }
}
