@import  "./partials/_colors";

html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: $text-primary;
  background-color: whitesmoke;
  height: 100vh;
  a {
    color: #444;
  }
}
body {
  display: flex;
  width: 100%;
  margin: 0px;
}

h1 {
  font-size: 2em;
  color: $text-primary;
  text-transform: uppercase;
}

h2 {
  color: $text-secondary;
  font-size: 1.5em;
  margin: 10px 0px;
}
p {
  font-size: 1em;
}

a {
  color: $link-color;
}

/********************
  WIDGETS

********************/

// Help ToolTip
.question-help{
  display: inline;
  margin-left: 5px;
  i {
    color: $link-color;
    font-size: 1.2em;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
  .tooltip {
    background-color: white;
    color: #444;
    display: none;
    position: absolute;
    width: 320px;
    border-radius: 5px;
    padding: 0px;
    z-index: 101;
    box-shadow: -3px 5px 10px rgba(0, 0, 0, .4);
    .header {
      line-height: 40px;
      background-color: lighten(#3496fa, 30%);
      border-radius: 5px 5px 0px 0px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .description {
      padding: 10px;
      font-weight: lighter;
      font-size: 1em;
    }
    &:before {
      border-width: 11px;
      border-style: solid;
      border-color: transparent;
      content: "";
      display: block;
      margin: auto;
      width: 0px;
      position: absolute;
      left: 0;
      right: 0;
      border-top-color: white;
      border-bottom-width: 0;
      bottom: -11px;
    }
  }
}
